<%= simple_form_for(@talk) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :author_name %>
    <%= f.association :event %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
