<div class="row">
  <div class="large-4 columns">
    <h4 class='logo-title'>Mumbai Ruby User Group</h4>
  </div>
  <div class="large-8 columns">
    <ul class="right button-group">
      <li><%= link_to 'Home', root_path, :class => 'button' %></li>
      <li><%= link_to 'Shares', root_path, :class => 'button' %></li>
      <li><%= link_to 'Hacks', root_path, :class => 'button' %></li>
      <li><%= link_to 'Meets', root_path, :class => 'button' %></li>
      <li><%= link_to 'Blog', root_path, :class => 'button' %></li>
    </ul>
  </div>
</div>

<!-- End Header and Nav -->

<!-- First Band (Slider) -->

<div class="row">
  <div class="large-12 columns">
    <ul data-orbit>
      <li>
      <%= image_tag 'meetup/the_first.jpg', :class => 'slider_img' %>
      <div class="orbit-caption">...</div>
      </li>
      <li class="active">
      <%= image_tag 'meetup/sid_sharma.jpg', :class => 'slider_img' %>
      <div class="orbit-caption">...</div>
      </li>
      <li>
      <%= image_tag 'meetup/mohit_hatte.jpg', :class => 'slider_img' %>
      <div class="orbit-caption">...</div>
      </li>
    </ul>
  </div>
</div>

<!-- Three-up Content Blocks -->
<div class="row">
  <div class="large-4 columns">
    <div class="large-12 columns">
      <h3>Recent Meets</h3>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="large-12 columns">
      <h3>Interesting Shares</h3>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="large-12 columns">
      <h3>Some Hacks</h3>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
    <div class="large-12 columns">
      <h5><%= link_to 'This is a content section.', '#' %></h5>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
    </div>
  </div>
</div>

<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4>Get in touch!</h4>

      <div class="row">
        <div class="large-9 columns">
          <a href="https://www.facebook.com/groups/MumbaiOnRails/"> <%= image_tag ('facebook_active.png') %></a>
          <a href="https://groups.google.com/forum/#!forum/mrug"> <%= image_tag ('google_active.png') %></a>
          <a href="https://twitter.com/MumbaiOnRails"> <%= image_tag ('twitter_active.png') %> </a>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Footer -->

<footer class="row">
<div class="large-12 columns">
  <hr />
  <div class="row">
    <div class="large-6 columns">
      <p>&copy; Copyright no one at all. Go to town.</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>
  </div>
</div> 
</footer>
